<footer>
    © 2018 Oliver Kurmis &lt;oliver@kurmis.com&gt;
    | <a href="https://github.com/oliworx/oliworx.github.com">clone on GitHub</a>
    | <a href="http://ipv6-test.com/validate.php?url=www.kurmis.com">IPv6 ready</a>
    | <a href="https://validator.w3.org/nu/?doc=https%3A%2F%2Fwww.kurmis.com" title="validate HTML"
         rel="nofollow">HTML5</a>
    | <a
        href="https://jigsaw.w3.org/css-validator/validator?uri=https%3A%2F%2Fwww.kurmis.com%2F&profile=css3&usermedium=all&warning=no"
        rel="nofollow" title="validate CSS">CSS level 3</a>
</footer>
