<section id="profiles">
    <h2>Profiles</h2>
    I have online profiles on these awesome web communities:<br>
    <a href="https://github.com/oliworx">GitHub</a>
    <a href="https://de.linkedin.com/in/oliver-kurmis-9b095163">LinkedIn</a>
    <a href="https://www.xing.com/profile/Oliver_Kurmis">XING</a>
    <a href="https://www.facebook.com/oliworx">facebook</a>
    <a href="https://plus.google.com/+OliverKurmis/posts">Google+</a>
    <a href="https://de.wikipedia.org/wiki/Benutzer:OKurmis">Wikipedia</a>
    <a href="https://www.flickr.com/photos/kurmis/">Flickr</a>
</section>
