<section>
    <h2>Projects</h2>
    Some of my projects are or have been:
    <ul>
        <li>2017-today <strong>aboalarm</strong><br>
            B2C portal helping people to cancel their contracts and subscriptions:
            <a href="https://www.aboalarm.de">www.aboalarm.de</a> (German website)
        <li>2018 <strong>pdf2png-service</strong><br>
            a webservice to convert PDF files to PNG images, based on Node.js: <a href="https://www.kurmis.com/pdf2png-service/">www.kurmis.com/pdf2png-service</a>
        <li>2018 <strong>Online password generator</strong><br>
            quickly generate random passords in the web browser <a href="https://www.kurmis.com/password-generator/">www.kurmis.com/password-generator</a>
        <li>2016 <strong>CSV-Faker</strong><br>
            a small tool to generate csv-files filled with faked data: <a href="https://www.kurmis.com/csv-faker/">www.kurmis.com/csv-faker</a>
        <li>2011-today <strong>Karate USC München</strong><br>
            <a href="https://www.karate-usc.de/">Homepage of my Karate Club</a>, using Wordpress and <a
                    href="https://www.cloudflare.com">Cloudflare CDN</a>
        <li>2016 <strong>The in-memory database SAP HANA</strong><br>
            project paper <a href="https://www.kurmis.com/SAP-HANA/"><em>Die In-Memory-Datenbank SAP HANA</em></a>
            (German)
        <li>2015-2016 <strong>chartbench</strong><br>
            <a href="https://github.com/oliworx/chartbench">a tool to benchmark implementations of programming
                languages</a>
            by performing a prime sieve algorithm implemented in PHP, Python, Perl, Ruby and TCL.
            Long story short: <a href="https://raw.githubusercontent.com/oliworx/chartbench/master/data/bench.png"
                                 title="open benchmark chart">Python on PyPy is
                fastest</a>
        <li>2015 <strong>Unicode - history and contemporary challenges</strong><br>
            project paper <a href="files/unicode.pdf"><em>Unicode - Geschichte und aktuelle Herausforderungen</em></a>
            (German PDF)
        <li>2015 <strong>Scrumban - a combination of Scrum and Kanban</strong><br>
            project paper <a href="files/scrumban.pdf"><em>Scrumban - eine Kombination von Scrum und Kanban</em></a>
            (German PDF)
        <li>2014 <strong>Optimizing MySQL requests with EXPLAIN</strong><br>
            project paper <a href="files/explain.pdf"><em>Optimierung von MySQL Anfragen unter Zuhilfenahme von
                Explain</em></a> (German PDF)
        <li>2010 <strong>bizcards</strong><br>
            Print your own business card in seconds, right from your web browser: <a
                    href="https://www.kurmis.com/bizcards">www.kurmis.com/bizcards</a><br>
            In 2010 I tried some new features of HTML5 here (only German so far)
        <li>2002-2005 <strong>comdirect Informer</strong><br>
            No.1 German online bank - information to stocks, fonds, bonds, certificates and markets.<br>
            They developed the site further, but basically this is like what I was working on:
            <a href="https://www.comdirect.de/inf/">www.comdirect.de/inf/</a>
        <li>2001-2007 <strong>DAB bank</strong><br>
            market information, virtual portfolio, certificates contest.<br>
            In 2016 the <a href="https://www.dab-bank.de">DAB bank</a> merged with the <a
                    href="https://www.consorsbank.de">Consors bank</a>
    </ul>
</section>
