---
layout: compress
---

<!doctype html>
<html lang="en">
<head>
{%- include head.html -%}
{%- include syntax-style.html -%}
</head>
<body>
{%- include blog-header.html -%}
<article>

  <section>
    <h2>{{ page.title }}</h2>
    <i>published <time datetime="{{ page.date  | date: "%F" }}">{{ page.date | date_to_long_string }}</time></i>
    {{ content }}
  </section>

  <section id="tags">
    <hr style="width: 40%">
    Tags:
    {% for tag in page.tags %}
    <a class="post" href="/tag/{{tag}}">#{{tag}}</a>{% unless forloop.last %}, {% endunless %}
    {% endfor %}
  </section>
</article>

{%- include footer.html -%}
</body>
</html>
